body{
	background-color: #f4f4f4;
	color:#555;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	line-height:1.6em;
	margin:0;
	background-image: url('../images/');
	
}
.container{
	width:80%;
	margin:auto;
	overflow:hidden;
}

#mainheader{
	background-color:rgb(60, 30, 30);
	color:#fff;
}

#navigation{
	background-color:#333;
	color:#fff;
}

#navigation ul{
	padding:0;
	list-style: none;
}

#navigation li{
	display: inline;
}

#navigation a{
	color: white;
	text-decoration: none;
	padding-right: 20px;
	font-size: 18px;
}
.common{
	border: 1px solid black;
	padding: 10px;
	margin-top: 30px;
}

.common h1{
	text-align: center;

}


#mainfooter{
	background: #333;
	color:#fff;
	text-align: center;
	padding: 30px;
	margin-top:60px;
}
